*{
    font-family :Arial, Helvetica, sans-serif;
    margin : 0;
    padding : 0;
}
body{
    background-color: #101B2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height : 100vh;
}

h1{
    color : #fff;
}
section{
    margin-top : 1.5rem;
    margin-bottom: 1.5rem;
    border : 1px solid #1E2841;
    border-radius: 30px;
    padding : 2rem;
    display : flex;
    gap : 2rem;
    background-color: #1E2841;
    box-shadow : 1px 1px 10px rgba(0,0,0,0.5);
    color : #5C8EEF;
    text-align:  center;
}
.info-compte{
    padding : 0.5rem;
}
.info-compte  h2{
    margin-bottom : .5rem;
}
.separator{
    margin-top : .5rem;
}
small{
    color : white;
}
.end{
    text-align: center;
    width: 50%;
}